ul.top-tabs-action-nav
  li.action-nav
    a.btn.green(data-bind='click: submitSaveForm')
      =t('save')
  li.action-nav
    a.btn.green(data-bind='click: previewWebPage')
      =t('preview')
  li.action-nav
    a.btn(data-bind='click: hideForm')
      =t('cancel')

form.wide.content-padding-w-overflow( data-bind="submit: saveForm" )

  #pd

  .ioco-page(data-bind='html: content, attr: {"data-id": (typeof(_id) === "undefined" ? "undefined" : _id)}')
