ul.top-tabs-action-nav
  li.action-nav
    a.btn.green(data-bind='click: submitSaveForm')
      =t('save')
  li.action-nav
    a.btn(data-bind='click: hideForm')
      =t('cancel')

form.wide( data-bind="submit: saveForm" )

  .form-content.edit-form
  
    p
      label.pull-left.translate name
      input.span400( type='text', data-bind='value: name' )

    p
      label.pull-left.translate type
      input.span400( type='text', data-bind='value: _type' )

    p
      label.pull-left.translate(data-ns='webpage') Slug
      input.span400( type='text', data-bind='value: slug', placeholder=t('autogenerate') )

    p
      label.pull-left.translate(data-ns='webpage') Template
      input( type='checkbox', data-bind='value: true, checked: template' )
      span.desc.translate(data-ns='webpage') Template desc

    p
      label.pull-left.translate(data-ns='webpage') Hidden
      input( type='checkbox', data-bind='value: true, checked: properties().hidden' )
      span.desc=t('web_page.hidden_desc')

    p
      label.pull-left.translate(data-ns='webpage') Frontpage
      input( type='checkbox', data-bind='value: true, checked: properties().frontpage' )
      span.desc=t('web_page.frontpage_desc')

    p
      label.pull-left.translate(data-ns='webpage') No robots
      input( type='checkbox', data-bind='value: true, checked: properties().noRobots' )
      span.desc=t('web_page.no_robots_desc')