ul.top-tabs-action-nav
  li.action-nav
    a.btn.green(data-bind='click: submitSaveForm')
      =t('save')
  li.action-nav
    a.btn(data-bind='click: hideForm')
      =t('cancel')

form.wide.content-padding-w-overflow( data-bind="submit: saveForm" )

  #iokit-page-designer

  .iokit-page(style='margin-right: 60px')