// kendo ui -- be aware of the GPLv3 of kendo
link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.common.min.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/kendo.metro.min.css')

link(rel='stylesheet', href='/stylesheets/ioco.css')
link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
link( rel='stylesheet', href='/stylesheets/ioco.page-designer.css' )

link(rel='stylesheet', href='/stylesheets/3rdparty/jquery.Jcrop.min.css')
link(rel='stylesheet', href='/stylesheets/3rdparty/ioco-jquery-ui/jquery-ui-1.9.1.custom.css')


script(type='text/javascript', src='/javascripts/3rdparty/jquery-1.8.2.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/moment-lang-all.min.js')
script(type='text/javascript', src='/javascripts/3rdparty/jquery.notice.js')
script(type='text/javascript', src='/javascripts/3rdparty/i18next.min.js')

script(type='text/javascript', src='/javascripts/ioco.kendo-addons.js')
script(type='text/javascript', src='/javascripts/ioco.core.js')
//script(type='text/javascript', src='/javascripts/ioco.page-designer.js')

:stylus
  .admin-panel
    background: #eee
    border: 1px solid #ccc
    height: 30px
    position: absolute
    top: 5px
    left: 5px
    right: 5px
    z-index: 5

    #ioco-logo
      width: 50px
      margin: 3px 10px 1px
      float: left

    #page-title
      font-size: 18px
      float: left
      margin: 0 20px 0 10px

    .btn
      margin: 1px

    .w-icn-only
      width: 0
      height: 17px

  .ioco-pd
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: auto


.admin-panel
  img#ioco-logo( src='/images/logo_200x200.png' )
  span#page-title=webpage.name
  a.pull-right.btn#toggle-editor=t('edit')
  a.pull-right.btn.w-icn-only#change-public-status
    span.icn.icn-locked( class=( webpage.published ? 'unlocked' : '' ) )

script(type='text/javascript') 

  $(function(){

    ioco.require('/javascripts/jquery.ioco.page-designer.js'); // this can also be done through a script tag.
    ioco.pageDesigner.registerPlugin('empty-container');

    //ioco.initUsersCache();

    $('#toggle-editor').on('click', function(){

      $.getJSON( '/webpages/!{ webpage._id }', function( json ){
        $('#page-content').hide();

        $('#pd-content').iocoPageDesigner({
          webpage: json,
          save: function( webpage, callback ){
            $.ajax({ url: '/webpages/'+ webpage._id,
                     type: 'put',
                     dataType: 'json',
                     data: { _csrf: ioco._csrf, webpage: webpage.toJSON() },
                     success: function( err ){
                        if( !err )
                          ioco.notify($.i18n.t('saving.ok', {name: webpage.name})+' WARNING: RELOAD BEFORE SAVE AGAIN (BUG)');
                        callback( err );
                     }
            });
          }
        });

      });

      $('.ioco-pd-area').css('top',50);

    });

  });