link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
link( rel='stylesheet', href='/stylesheets/ioco.page-designer.css' )

script( type='text/javascript', src='/javascripts/web.js' )
#ioco-webpages
  .ioco-sidebar

    h1.title=t('webpages.title')

    .ioco-k-tree

      .controls
        a.btn( data-bind='events: { click: showNewForm }' )
          span.icn-plus.icn
        a.btn( data-bind='events: { click: refreshTree }' )
          span.icn.icn-refresh
        a.btn.enableable( data-bind='events: { click: deleteSelectedNodes }, css: {enabled: anyNodeSelected}')
          span.icn.icn-trash

      .webpages-tree( data-role='treeview', data-drag-and-drop='true', data-text-field='name', data-bind='source: webpages' )