link( rel='stylesheet', href='/stylesheets/web.css' )
link( rel='stylesheet', href='/stylesheets/ioco-page.css')
link( rel='stylesheet', href='/stylesheets/ioco.page-designer.css' )
#ioco-webpages
  .ioco-sidebar
    .ioco-tree

      h1.title=t('webpages.title')

      .tree-controls
        a.btn.w-icn-only.live-tipsy( href='#', translate-title='webpages.new', data-bind='click: newItemForm' )
          span.icn-plus.icn
        a.btn.w-icn-only.live-tipsy( href='#', translate-title='refresh', data-bind='click: fetchData' )
          span.icn.icn-refresh
        a.btn.w-icn-only.live-tipsy.enableable( href='#', translate-title='delete_selected', data-bind='css: {enabled: selectedItems().length > 0}, click: deleteSelected')
          span.icn.icn-trash

      br.clearfix

      ul.tree-content( data-bind='template: {name: "webItemTemplate", foreach: items}' )

  .ioco-content

    .click-for-details.no-item-form
      h1.title=t('webpages.title')
      span=t('document.click_for_details')

    #ioco-user-form.item-form( data-bind='template: {name: "webItemForm"}' )

include ko_templates/web_item
include ko_templates/web_item_form

script(type='text/javascript', src='/javascripts/ioco.page-designer.js')
script(type='text/javascript', src='/javascripts/web_files_view_model.js')

- for( i in ioco.plugins )
  - if( ioco.plugins[i].pageDesignerJSPlugins )
    - for( var j in ioco.plugins[i].pageDesignerJSPlugins )
      script(type='text/javascript', src='#{ioco.plugins[i].pageDesignerJSPlugins[j]}')
  
script(type='text/javascript')
  
  $('#ioco-webpages .ioco-tree').iocoTree({
    url: '/webpages.json?roots=true',
    saveUrl: '/webpages/',
    saveKey: 'webPage',
    saveAttrs: [ 'name', 'tags', 'content', 'slug', 'properties' ],
    defaultValues: { name: $.i18n.t('webpage.new_name'), properties: {}, content: '', _type: 'WebPage' },
    beforeSave: function( form, data, save ){
      data.webPage.content = form.find('.ioco-page').html();
      ioco.pageDesigner.cleanup( data.webPage );
      if( typeof(data.webPage.name) === 'undefined' || data.webPage.name.length < 1 )
        data.webPage.name = prompt('Name', '');
      data.webPage.content = form.find('.ioco-page').html();
      this.content( data.webPage.content );
      ioco.pageDesigner.cleanup( data.webPage );
      save( data );
    },
    before: function( tree ){
      tree.TreeItemModel.prototype.previewWebPage = function(){
        window.open( '/pub'+this.slug() );
      }

    },
    afterShowForm: function( item, form ){
      //$('.ioco-page').css('width', $('.ioco-page').width()-100);
      $('#pd').iocoPageDesigner({
        i18n: true,
        csrf: $('#_csrf').val(),
        webPage: new ioco.pageDesigner.WebPage( item ),
        after: {
          create: function( plugin, webBit, boxDom, json, done ){
            ioco.notify( json.flash );
            done();
          }
        }
      });
      ioco.parseTranslations();
      //$(form).find('.editable-main-content').ioEdit();
    }
  });
  $('#ioco-webpages .ioco-tree ul:first').nestedSortable({
      listType: 'ul',
      forcePlaceholderSize: true,
      handle: 'div',
      helper: 'clone',
      items: 'li',
      opacity: .6,
      placeholder: 'placeholder',
      revert: 250,
      delay: 250,
      tolerance: 'poioco',
      toleranceElement: '> div',
      maxLevels: 5,
      isTree: true,
      expandOnHover: 700,
      startCollapsed: true,
      stop: function( e, ui ){
        function collectChildren( parent ){
          var arr = [];
          parent.find('ul:first').children().each(function(){ arr.push( $(this).attr('data-id') ); });
          return arr;
        }
        var parent = $(ui.item).parent().closest('li.tree-li');
        var children;

        if( parent.length )
          children = collectChildren( parent );
        else
          children = collectChildren( self );
        var formData = { _csrf: $('#_csrf').val(), ids: children.join(',') };
        if( parent.length )
          formData.path = $(parent).attr('data-id') + ':' + $(parent).attr('data-_type');
        $.post( '/documents/sort', formData, function( data ){
          if( data.success )
            ioco.notify( data.flash );
          else
            ioco.notify( { error: $.i18n.t('document.order.saving.failed')})
        })
      }
  });