!!! 5
html
  head

    title=webpage.name

    if( includeCSS )
      each css in includeCSS
        link( rel='stylesheet', href=css )

    if( includeJS )
      each js in includeJS
        script(type='text/javascript', src=js)

  body
    input( type='hidden', id='_csrf', value=_csrf )
    if( currentUser && ( currentUser.groups.indexOf('designer') > 0 || currentUser.groups.indexOf('editor') > 0 ) )
      include _admin_pane
    !=renderedContent