!!! 5
html
  head

    title=webpage.name

    if( ioco.web.config.includeCss )
      each css in ioco.web.config.includeCSS.split(' ')
        link( rel='stylesheet', href=css )

    if( ioco.web.config.includeJs )
      each js in ioco.web.config.includeJs.split(' ')
        script(type='text/javascript', src=js)

  body.ioco-pd-area

    style
      .ioco-pd-area .ioco-web-bit{ position: auto }

    input( type='hidden', id='_csrf', value=_csrf )

    #page-content
      !=webpage.content