!!! 5
html
  head
    title=(iokit.config.site.title + '|' + webElement.name)
    script(type='text/javascript', src='/javascripts/3rdparty/jquery-1.8.2.min.js')
    script(type='text/javascript', src='/javascripts/iokit.js')
    link(rel='stylesheet', href='/stylesheets/web-editor.css')

  body
    input( type='hidden', id='_csrf', value=_csrf )
    input( type='hidden', id='_host_master', value='http://'+iokit.config.site.domain+':'+iokit.config.port )

    .content
    != webPage.content