|<script id="kendo-webpage-template" type="text/x-kendo-tmpl">
|  <div class="list-item">
|# if(holderPrivileges.indexOf('d') > 0){ #
|     <a class="delete pull-right" href="/documents/50a373f7dd9b0f000000000c">×</a>
|# }else{ #
|   <span class="placeholder pull-right"> </span>
| # } #
|# if(settings.startpage){ #
|    <span class="icn icn-no-border icn-home pull-right" title="#{t('webpages.startpage')}"></span>
|# } #
|# if(!published){ #
|    <span class="icn icn-no-border icn-locked pull-right" title="#{t('webpages.locked_for_public')}"></span>
|# } #
|    <span class="icn icn-webpage icn-no-border pull-left"></span>
|    <a class="title" href="/#= _subtype.toLowerCase() + 's' #/${id}" data-remote="true">${name}</a>
|  </div>
|</script>