ul.web-images
  list-style: none
  li
    width: 100px
    height: 100px
    background-size: cover
    float: left
    margin: 10px 10px 0 0
    border: 5px solid white
    box-shadow: -1px 1px 1px #aaa
    position: relative
    &.selected
      border-color: #007AD6
      box-shadow: none
    &.opaque
      opacity: 0.2
    .loader
      top: 27px
      left: 3px
      .circle:after
        background-color: #444

ul.web-files
  list-style: none
  margin-right: 20px
  li
    margin-bottom: 5px
    padding: 5px
    border: 1px solid #ddd
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(center top , #F3F3F3, #EfEfEf)
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#EfEfEf))
    background-repeat: repeat-x
    font-size: 12px
    position: relative
    a.link-text
      color: #333
      text-decoration: none
      margin-left: 10px
    .btn.content-type
      font-size: 10px
    &.selected
      background-color: #118be7;
      background-image: -moz-linear-gradient(center top, #118be7, #007ad6)
      background-image: -webkit-gradient(linear, left top, left bottom, from(#118be7), to(#007ad6))
      background-repeat: repeat-x
      box-shadow: none
    &.opaque
      opacity: 0.2
    .loader
      top: 2px
      left: 2px
      height: 16px
      width: 16px
      .circle
        width: 16px
        height: 16px
      .circle:after
        background-color: #444

.no-file-selected
  font-size: 12px
  color: #999
  margin: 100px 20px
  text-align: center

.file-details
  margin: 15px 20px
  .btn
    margin-top: -5px
  .lbl
    font-size: 10px
  input[type=text]
    width: 100%
  .text
    font-size: 12px

.web-files-control
  height: 30px
  .btn
    padding: 6px 2px 0
    margin-right: 2px
    border: none
    background: none
    box-shadow: none
    opacity: 0.8
    &.enableable
      opacity: 0.2
      cursor: default
      &:hover
        opacity: 0.2
      &.enabled
        cursor: poiokit
        opacity: 0.8
        &:hover
          opacity: 1
    &:hover
      opacity: 1
  .desc
    margin: 5px 0 0 0
  .selected-counter
    display:none

.iokit-modal
  .source-editor
    position: absolute
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
    
.iokit-page-designer
  position: absolute
  top: 0
  right: 0
  width: 41px
  bottom: 0
  background: #eee
  border: 1px solid #aaa
  padding: 5px
  z-index: 10

  .switch-btn
    margin: 0 0 10px
    float: left

  .page-designer-part
    display: none

    &.disabled
      .design-btn
        opacity: 0.1
        cursor: default

  .switch-btns
    position: absolute
    left: -226px
    top: 46px
    width: 424px
    transform: rotate( 270deg )
    -ms-transform: rotate( 270deg )
    -moz-transform: rotate( 270deg )
    -webkit-transform: rotate( 270deg )
    -o-transform: rotate( 270deg )
    a
      border: 1px solid #aaa
      border-bottom: none
      margin: 0 1px
      color: #777
      font-size: 12px
      padding: 2px 10px 3px
      text-decoration: none
      &.active
        background-color: #eee

  .design-btn, .source-btn
    margin: 10px 0
    padding: 10px
    border: 1px solid #ccc
    text-align: center
    background-color: #f0f0f0
    opacity: 0.8
    cursor: pointer
    &.text
      font-size: 10px
      padding: 5px
      font-weight: 900

  .design-btn
    cursor: move
    &:hover
      opacity: 1
      background-color: #fff
      border: 1px solid #ccc
      box-shadow: 1px 1px 3px rgba(0,0,0,0.5)
    &.small
      padding: 0
      margin: 1px
      line-height: 5px
      float: left
      cursor: pointer

  .spacer
    height: 1px
    border: none
    border-top: 1px solid #ccc
    margin: 5px 0
    width: 100%
    &.small
      float: left

.iokit-modal
  .sidebar-content
    .web-bit-props
      h1
        font-size: 20px
        color: #555
        font-weight: 100
      label
        color: #777
        font-size: 12px
      p
        margin-top: 5px
      input[type=text]
        width: 98%
      .ace-editor
        width: 100%
        height: 270px
        position: absolute
        top: 120px
        left: 0
        font-size: 11px

body

  .highlight
    background-color: #ffe

  .iokit-page
    min-height: 500px
    width: 100%
    position: relative

    .iokit-web-bit
      height: 150px
      outline: 2px dashed #eee
      padding: 10px
      position: relative

      .box-controls
        position: absolute
        top: 5px
        right: 5px
        display:none
        height: 24px
        a.box-control
          margin: 1px
          padding: 2px 7px
          .icn
            margin: 3px 0  -3px
          &.move-btn
            opacity: 0.1
            &.move-enabled
              opacity: 1
              cursor: move

      &.hovered
        outline-color: #ddd

      &.active
        outline-color: #ff4040
        .box-controls
          display: block

      &.float-left
        float: left

      &.float-right
        float: right

      &.float-left-all-over
        float: left
        height: 100%

      &.float-right-all-over
        float: right
        height: 100%

      &.position-absolute
        position: absolute
        top: 0
        left: 0

      &.span1, &.span2, &.span3, &.span4, &.span5, &.span6, &.span7
        margin: 1%
        &.first
          margin-left: 0
        &.last
          margin-right: 0
      &span8
        margin: 0
      &.span1
        width: 12%
      &.span2
        width: 24%
      &.span3
        width: 36%
      &.span4
        width: 48%
      &.span5
        width: 60%
      &.span6
        width: 72%
      &.span7
        width: 84%
      &.span8
        width: 98%