ul.web-images {
  list-style: none;
}
ul.web-images li {
  width: 100px;
  height: 100px;
  background-size: cover;
  float: left;
  margin: 10px 10px 0 0;
  border: 5px solid #fff;
  box-shadow: -1px 1px 1px #aaa;
  position: relative;
}
ul.web-images li.selected {
  border-color: #007ad6;
  box-shadow: none;
}
ul.web-images li.opaque {
  opacity: 0.2;
}
ul.web-images li .loader {
  top: 27px;
  left: 3px;
}
ul.web-images li .loader .circle:after {
  background-color: #444;
}
ul.web-files {
  list-style: none;
  margin-right: 20px;
}
ul.web-files li {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(center top, #f3f3f3, #efefef);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#efefef));
  background-repeat: repeat-x;
  font-size: 12px;
  position: relative;
}
ul.web-files li a.link-text {
  color: #333;
  text-decoration: none;
  margin-left: 10px;
}
ul.web-files li .btn.content-type {
  font-size: 10px;
}
ul.web-files li.selected {
  background-color: #118be7;
  background-image: -moz-linear-gradient(center top, #118be7, #007ad6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#118be7), to(#007ad6));
  background-repeat: repeat-x;
  box-shadow: none;
}
ul.web-files li.opaque {
  opacity: 0.2;
}
ul.web-files li .loader {
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
}
ul.web-files li .loader .circle {
  width: 16px;
  height: 16px;
}
ul.web-files li .loader .circle:after {
  background-color: #444;
}
.no-file-selected {
  font-size: 12px;
  color: #999;
  margin: 100px 20px;
  text-align: center;
}
.file-details {
  margin: 15px 20px;
}
.file-details .btn {
  margin-top: -5px;
}
.file-details .lbl {
  font-size: 10px;
}
.file-details input[type=text] {
  width: 100%;
}
.file-details .text {
  font-size: 12px;
}
.web-files-control {
  height: 30px;
}
.web-files-control .btn {
  padding: 6px 2px 0;
  margin-right: 2px;
  border: none;
  background: none;
  box-shadow: none;
  opacity: 0.8;
}
.web-files-control .btn.enableable {
  opacity: 0.2;
  cursor: default;
}
.web-files-control .btn.enableable:hover {
  opacity: 0.2;
}
.web-files-control .btn.enableable.enabled {
  cursor: poiokit;
  opacity: 0.8;
}
.web-files-control .btn.enableable.enabled:hover {
  opacity: 1;
}
.web-files-control .btn:hover {
  opacity: 1;
}
.web-files-control .desc {
  margin: 5px 0 0 0;
}
.web-files-control .selected-counter {
  display: none;
}
.iokit-modal .source-editor {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.iokit-page-designer {
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  bottom: 0;
  background: #eee;
  border: 1px solid #aaa;
  padding: 5px;
  z-index: 10;
}
.iokit-page-designer .switch-btn {
  margin: 0 0 10px;
  float: left;
}
.iokit-page-designer .page-designer-part {
  display: none;
}
.iokit-page-designer .page-designer-part.disabled .design-btn {
  opacity: 0.1;
  cursor: default;
}
.iokit-page-designer .switch-btns {
  position: absolute;
  left: -144px;
  top: 126px;
  width: 424px;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
}
.iokit-page-designer .switch-btns a {
  border: 1px solid #aaa;
  border-bottom: none;
  margin: 0 1px;
  color: #777;
  font-size: 12px;
  padding: 2px 10px 3px;
  text-decoration: none;
}
.iokit-page-designer .switch-btns a.active {
  background-color: #eee;
}
.iokit-page-designer .design-btn {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #f0f0f0;
  cursor: move;
  opacity: 0.8;
}
.iokit-page-designer .design-btn:hover {
  opacity: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
.iokit-page-designer .design-btn.small {
  padding: 0;
  margin: 1px;
  line-height: 5px;
  float: left;
  cursor: pointer;
}
.iokit-page-designer .design-btn.text {
  font-size: 10px;
  padding: 5px;
  font-weight: 900;
}
.iokit-page-designer .spacer {
  height: 1px;
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
  width: 100%;
  float: left;
}
body .highlight {
  background-color: #ffe;
}
body .iokit-page {
  min-height: 500px;
  width: 100%;
  position: relative;
}
body .iokit-page .iokit-web-bit {
  height: 150px;
  outline: 2px dashed #eee;
  padding: 10px;
  position: relative;
}
body .iokit-page .iokit-web-bit .box-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  height: 24px;
}
body .iokit-page .iokit-web-bit .box-controls a.box-control {
  margin: 1px;
  padding: 2px 7px;
}
body .iokit-page .iokit-web-bit .box-controls a.box-control .icn {
  margin: 3px 0 -3px;
}
body .iokit-page .iokit-web-bit .box-controls a.box-control.move-btn {
  opacity: 0.1;
}
body .iokit-page .iokit-web-bit .box-controls a.box-control.move-btn.move-enabled {
  opacity: 1;
  cursor: move;
}
body .iokit-page .iokit-web-bit.hovered {
  outline-color: #ddd;
}
body .iokit-page .iokit-web-bit.active {
  outline-color: #ff4040;
}
body .iokit-page .iokit-web-bit.active .box-controls {
  display: block;
}
body .iokit-page .iokit-web-bit.float-left {
  float: left;
}
body .iokit-page .iokit-web-bit.float-right {
  float: right;
}
body .iokit-page .iokit-web-bit.float-left-all-over {
  float: left;
  height: 100%;
}
body .iokit-page .iokit-web-bit.float-right-all-over {
  float: right;
  height: 100%;
}
body .iokit-page .iokit-web-bit.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
body .iokit-page .iokit-web-bit.span1,
body .iokit-page .iokit-web-bit.span2,
body .iokit-page .iokit-web-bit.span3,
body .iokit-page .iokit-web-bit.span4,
body .iokit-page .iokit-web-bit.span5,
body .iokit-page .iokit-web-bit.span6,
body .iokit-page .iokit-web-bit.span7 {
  margin: 1%;
}
body .iokit-page .iokit-web-bit.span1.first,
body .iokit-page .iokit-web-bit.span2.first,
body .iokit-page .iokit-web-bit.span3.first,
body .iokit-page .iokit-web-bit.span4.first,
body .iokit-page .iokit-web-bit.span5.first,
body .iokit-page .iokit-web-bit.span6.first,
body .iokit-page .iokit-web-bit.span7.first {
  margin-left: 0;
}
body .iokit-page .iokit-web-bit.span1.last,
body .iokit-page .iokit-web-bit.span2.last,
body .iokit-page .iokit-web-bit.span3.last,
body .iokit-page .iokit-web-bit.span4.last,
body .iokit-page .iokit-web-bit.span5.last,
body .iokit-page .iokit-web-bit.span6.last,
body .iokit-page .iokit-web-bit.span7.last {
  margin-right: 0;
}
body .iokit-page .iokit-web-bitspan8 {
  margin: 0;
}
body .iokit-page .iokit-web-bit.span1 {
  width: 12%;
}
body .iokit-page .iokit-web-bit.span2 {
  width: 24%;
}
body .iokit-page .iokit-web-bit.span3 {
  width: 36%;
}
body .iokit-page .iokit-web-bit.span4 {
  width: 48%;
}
body .iokit-page .iokit-web-bit.span5 {
  width: 60%;
}
body .iokit-page .iokit-web-bit.span6 {
  width: 72%;
}
body .iokit-page .iokit-web-bit.span7 {
  width: 84%;
}
body .iokit-page .iokit-web-bit.span8 {
  width: 98%;
}
