script(type='text/html', id='webItemForm')

  .top-tabs

    .top-tabs-nav

      span.top-tabs-nav-title.page-name=t('unnamed')

      ul
        li.translate(data-ns='webpage') Layout

        li.translate(data-ns='webpage') Properties

    .top-tabs-content

      .content-padding
        include form/designer

      .content-padding
        include form/properties

        
