script(type='text/html', id='webItemForm')

  .top-tabs

    ul.top-tabs-nav
      li.translate(data-ns='webpage') Layout

      li.translate(data-ns='webpage') Properties

    .top-tabs-content

      .content-padding
        include form/designer

      .content-padding
        include form/properties

        
