#webpages-plugin.content-padding
  
  .iokit-webpages-tree.second-sidebar

  #webpages-form-container.second-main-container

script
  $.getScript('/webpages/tree', function(){
    $('.iokit-webpages-tree').webpagesTree();
  })